rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /patient_responses/{study_id} {
      allow read: if false;
      allow write: if exists(/databases/$(database)/documents/registered_studies/$(request.resource.data.study_id));
      match /patients/{patient_id}/{document=**} {
        allow write: 
          if patient_id == request.resource.data.patient_id &&
             request.resource.data.patient_id in get(/databases/$(database)/documents/registered_studies/$(study_id)).data.registered_patients &&
             study_id == request.resource.data.study_id;
      }
    }
    
  }
}